/******************** TABLA AMIGOS ************************************************/

h1.usersTableTitle{
    color: #13BE0B;
    font-family: 'Lobster';
    border-radius: 15px;
    text-align: center;
}

.usersTable{
	margin-top: 70px;
    width: 400px;
}

.users-table {
    margin-top: 10px;
}


/*********************** SPINNER ******************/
.usersTable .spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;

}

.usersTable .spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

/**********************  BOTON AGREGAR AMIGO *********************************************/
button{
    background-color: #13BE0B;
    color: white;
}

mat-cell.mat-cell.cdk-column-add.mat-column-add.ng-star-inserted > button {
    min-width: initial;
}


/************************** COLUMNAS DE LA TABLA *******************************/

.mat-cell {
    display: flex;
    justify-content: center;
}

.mat-header-cell {
    text-align: center;
}
