/******************** TABLA AMIGOS ************************************************/

h1.tableTitle{
    color: #13BE0B;
    font-family: 'Lobster';
    border-radius: 15px;
    text-align: center;
}

.myTable{
	margin-top: 70px;
    width: 400px;
}


/*********************** SPINNER ******************/
.myTable .spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;

}

.myTable .spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

/*********** MENSAJE NO TIENE AMIGOS *****************/

.noFriends{
    margin-top: 270px;
    border: solid #4C8E00;
    background-color: #C4FF81;
    text-align: center;
    width: 400px;
    color: #5BA00C;
    font-family: "Tahoma", "Geneva", sans-serif;
}


/************************** COLUMNAS DE LA TABLA *******************************/

.mat-cell {
    display: flex;
    justify-content: center;
}

.mat-header-cell {
    text-align: center;
}

/******************************** BOTON ***************************************/
.mat-raised-button {
    min-width: fit-content;
    background-color: #EE2A16;
}