.page-container {
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.info-table {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

table{
    border-collapse: collapse;
}

caption{
	font-family: 'Lobster';
	background-color: #13BE0B;
	color: white;
	font-size: 30px;
}

table td{
	background-color: #B4F26A;
	color: #13BE0B;
	padding: 9px;
	border-bottom: 1px solid #fff;
	font-weight: bold;
}

button.mat-raised-button{
	cursor: pointer;
	color: #fff;
	background-color: #13BE0B;
	min-width: 0px;
}

button.mat-raised-button:hover {
	background-color: #41CC2B;
}

input {
	width: 139px;
	background-color: #B4F26A;
	color: #13BE0B;
	border: 0px;
}

tr {
	height: 57px;
}

td[active="true"] input{
	background-color: #FFFFE0;
	color: black;
}