<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<menu></menu>
<div *ngIf="fields[0]">
	<form [formGroup]="modifiedsFieldsForm" novalidate>
		<table>
			<caption>Información del usuario</caption>
	  			<tr *ngFor="let field of fields; let i = index">

	  				<td>{{field.name}}</td>

	  				<td *ngIf="field.formControlName != 'favSport'"><input type="text" formControlName="{{field.formControlName}}" [readonly]="onlyRead[i]"></td>
	  				<td *ngIf="field.formControlName == 'favSport'"><p>deporte</p></td>

	  				<td *ngIf="!arrayShowConfirmButton[i]"><button title="Editar" [disabled]="arrayBlockEditButton[i]" mat-raised-button (click)="modify(field,i)"><mat-icon>edit</mat-icon></button></td>
	  				<td *ngIf="arrayShowConfirmButton[i]"><button mat-raised-button (click)="confirmChange(field,i)" title="Confirmar cambio"><mat-icon>save</mat-icon></button></td>

	  			</tr>
		</table>
	</form>
</div>