<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<div class="home-container">
	<navigation-menu></navigation-menu>
	<create-game #gameForm></create-game>
	<div id="locate-in-map">
		<div class="searchCity">
			<form [formGroup]="searchGamesForm">
				<mat-form-field>
				    <input #city matInput placeholder="CP, ciudad" autocomplete="off" formControlName="direction">
					<mat-error>{{errorMessage}}</mat-error>
				</mat-form-field>
				<button mat-raised-button (click)="search(city.value)" [disabled]="searchGamesForm.controls['direction'].errors"><mat-icon matSuffix>search</mat-icon></button>
			</form>
		</div>
		<div *ngIf="games">
			<div *ngIf="games.length; else notGames">
				<agm-map [zoom]='zoom' [latitude]='games[0].address.location.coordinates[1]' [longitude]='games[0].address.location.coordinates[0]'>
					<div *ngFor="let game of games; let i = index">
						<agm-marker [latitude]='game.address.location.coordinates[1]' [longitude]='game.address.location.coordinates[0]' [iconUrl]='marker' [title]='game.name' (markerClick)=showMarkerInfo($event)>
						</agm-marker>
					</div>
				</agm-map>
			</div>
			<ng-template #notGames>
				<div id="notFoundGames">
					<p [innerHTML]="errorGamesMessage"></p>
				</div>
			</ng-template>
		</div>
		<mat-radio-group class="radio-group" [(ngModel)]="sportSelected" #options>
  			<mat-radio-button class="radio-button" color="primary" *ngFor="let sport of sportsFilter" [value]="sport" (change)="radioChange($event)">
    			{{sport}}
  			</mat-radio-button>
		</mat-radio-group>
		<mat-radio-group class="radio-group" [(ngModel)]="gameSelected">
  			<mat-radio-button class="radio-button" color="primary" *ngFor="let game of gamesFilter" [value]="game">
    			{{game}}
  			</mat-radio-button>
		</mat-radio-group>
		<!--<div class="example-selected-value">Your favorite SPORT is: {{sportSelected}}</div>-->
	</div>
	
	<div id="info-game-clicked" *ngIf="games">
		<h1>{{gameClicked.name}}</h1>
		<div>{{gameClicked.address.formatted_address}}</div>
		<h3>Lista de jugadores</h3>
		<ul>
			<li *ngFor="let player of gameClicked.players">
				{{player.playerName}}
			</li>
		</ul>
	</div>
</div>
