.home-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
} 

#locate-in-map{

}

/*************************   INPUT DE LA CIUDAD *****************************************/

.searchCity form{
	margin-bottom: 15px;
}


/******************** 	MAPA PARA SITUAR PARTIDAS ***************************************/

agm-map {	
	height: 400px;
	width: 400px;
}

.map-no-games-found agm-map{
	height: 300px;
}

/******************** 	BOTON BUSCAR CALLE PARA SITUAR PARTIDA ***************************************/

.mat-raised-button{
	background-color: #13BE0B;
	color: white;
	margin-left: 10px;
	min-width: unset;
}


/*******************************  FILTRO DEPORTES **********************************************/
.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-button {
  margin: 5px;
}


/********************************** 	CAJA PARA MOSTRAR INFORMACION DE LA PARTIDA ********************************/

.close {
	float: right;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .4;
    text-decoration: none !important;
    font-size: 18px;
    line-height: 1.2;
}


#info-game-clicked {
	
	background-color: #B4F26A;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	border: solid #13BE0B 3px;
	font-family: "Tahoma", "Geneva", sans-serif;
}

#info-game-clicked h1{
	color: #13BE0B;
	font-family: 'Lobster';
}

#info-game-clicked h3{
	color: #13BE0B;
}


.clicked-game-players-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.edit-list-button {
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p.info-alert {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; 
    padding: 20px;
    font-family: "Tahoma", "Geneva", sans-serif;
}

#info-message {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.edit-list-button mat-icon{
	font-size: initial;
}

ul {
  width: 20em;  /* room for 3 columns */
}
ul li{
  float: left;
  width: 10em;  /* accommodate the widest item */
  text-align: left;
}

/********************************** MENSAJE DE NO SE HAN ENCONTRADO PARTIDAS *************************************/


.map-no-games-found #not-found-games{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 115px;
	color: #a94442;
    background-color: #f2dede;
    font-family: "Tahoma", "Geneva", sans-serif;
    border-radius: 0px 0px 8px 8px;
}

#not-found-games p{
	text-align: center;
	padding: 5px;
}


/************************ RESPONSIVE MOVIL ***********************************/
@media (min-width: 320px) and (max-width: 480px) {

	.home-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow-y: scroll;
		margin-bottom: 0px;
	}

	#locate-in-map {
		margin-bottom: 30px;
		width: 300px;
	}

	#info-game-clicked {
		width: 300px;
	}

	agm-map {	
		height: 300px;
		width: 300px;
	}

	mat-radio-group {
		display: flex;
		flex-wrap: wrap;
	}

}

/************************** PORTATIL **************************************/

@media (min-width: 1025px) and (max-width: 1400px) {
	.home-container {
		flex-wrap: wrap;
		align-items: flex-end;
	}

	#locate-in-map {
		margin: 0px 20px 20px 20px;
	}

	#info-game-clicked {
		align-self: center;
	}
}

@media (min-height: 590px) and (max-height: 610px) {

	#locate-in-map {
		margin-bottom: 0px;
	}

}



/***************************** ORDENADOR SOBREMESA ***************************/

@media (min-width: 1700px) {



}