.home-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
} 

#locate-in-map{
	margin-top: 60px;
}

/*************************   INPUT DE LA CIUDAD *****************************************/

.searchCity form{
	margin-bottom: 15px;
}


/******************** 	MAPA PARA SITUAR PARTIDAS ***************************************/

agm-map {	
	height: 400px;
	width: 400px;
}

/******************** 	BOTON BUSCAR CALLE PARA SITUAR PARTIDA ***************************************/

.mat-raised-button{
	background-color: #13BE0B;
	color: white;
	margin-left: 10px;
	min-width: unset;
}


/*******************************  FILTRO DEPORTES **********************************************/
.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-button {
  margin: 5px;
}


/********************************** 	CAJA PARA MOSTRAR INFORMACION DE LA PARTIDA ********************************/

#info-game-clicked {
	
    margin-top: 140px;
    margin-bottom: auto;
	background-color: #B4F26A;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	border: solid #13BE0B 3px;
	font-family: "Tahoma", "Geneva", sans-serif;
}

#info-game-clicked h1{
	color: #13BE0B;
	font-family: 'Lobster';
}

#info-game-clicked h3{
	color: #13BE0B;
}

ul {
  width: 20em;  /* room for 3 columns */
}
ul li{
  float: left;
  width: 10em;  /* accommodate the widest item */
  text-align: left;
}

/********************************** MENSAJE DE NO SE HAN ENCONTRADO PARTIDAS *************************************/

#notFoundGames {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	color: #a94442;
    background-color: #f2dede;
    font-family: "Tahoma", "Geneva", sans-serif;
    border-radius: 8px;
}

#notFoundGames p{
	text-align: center;
	padding: 5px;
}