/************************* CONTENEDORES PRINCIPALES **********************/
#principal-container{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow-y: scroll;
	flex-direction: column;	
}

/************************* NOMBRE CIUDAD **************************************/

#city-name {
	display: flex;
	justify-content: center;
	width: 100%;
	color: #13BE0B;
	font-family: 'Lobster';
}

/************************* BUSCADOR (INPUT Y BOTON) **********************/
.city-searcher {
	display: flex;
	align-self: flex-start;
	margin-left: 6px;
}

.mat-raised-button{
	background-color: #13BE0B;
	color: white;
	margin-left: 10px;
	height: 40px;
    width: 60px;
    min-width: initial;
}


/********************************* Parte del cuadro con el tiempo de cada día  *****************************/

#weather-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

mat-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 6px;
	margin-top: 5px;
	height: 325px;
	box-shadow: 0 12px 45px -2px rgba(0,0,0,.2), 0 2px 15px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

mat-content {
	font-family: "Tahoma", "Geneva", sans-serif;
}
mat-card-title{
	font-family: 'Lobster';
	color:#13BE0B;
}

img.weather-img {
	width: 60px;
	height: 60px;
}

td.temp-container {
	text-align: center;
}

/********************* IMAGEN CIUDAD NO ENCONTRADA *****************************/
div#not-found img {
	height: 100%;
	width: 100%;
}

#not-found {
	
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
	width: 100%;
	height: 100%;
}

.city-searcher-no-exist {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	margin-left: 10px;
}

.not-found-city-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	z-index: 0;
	margin-bottom: 20px;
	font-family: 'Lobster';
	text-shadow: -4px -2px 0 black, -5px -2px 0 black, -3px 1px 0 black;
	color: white;
	font-size: -webkit-xxx-large;
	
}

.content-wrapper {
	display: flex;
	align-content: center;
	flex-direction: column;
	align-items: center;
}


/************************ RESPONSIVE MOVIL ***********************************/
@media (min-width: 320px) and (max-width: 480px) {
 	
 	#principal-container{
  		overflow-y: scroll;
  		align-items: initial;
		justify-content: initial;
  	}

  	mat-card {
		margin-bottom: 5px;
	}

	#city-name {
		margin-top: 150px;
	}

	.city-searcher-no-exist {
		margin-top: 150px;
	}

	.not-found-city-wrapper {
		font-size: xx-large;
	}
}

/************************** PORTATIL **************************************/

@media (min-width: 700px) and (max-width: 1240px) {
  	#principal-container{
		justify-content: initial;
	}


	#city-name {
		margin-top: 50px;
	}
	
}


/***************************** ORDENADOR SOBREMESA ***************************/

@media (min-width: 1400px) {

	#principal-container{
		justify-content: center;
		overflow-y: initial;
	}


	#city-name {
		font-size: x-large;
	}
	
}