<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<navigation-menu></navigation-menu>


<div id="principal-container">
	<div *ngIf="exist; else notFound">
		<div id="city-name">
			<h1>{{cityToSearch}}</h1>
		</div>

		<div class="city-searcher">
			<mat-form-field>
				<input #city matInput placeholder="Ciudad" autocomplete="off">
			</mat-form-field>
			<button mat-raised-button (click)="search(city.value)"><mat-icon matSuffix>search</mat-icon></button>
		</div>


		<div id="weather-container">
			<mat-card *ngFor= 'let day of weatherInfo'>
				<mat-card-title>{{day[0].weekDay}}</mat-card-title>
				<mat-card-content>
					<table>
						<tr>
    						<th>Hora</th>
    						<th>Temperatura</th> 
    						<th>Tiempo</th>
  						</tr>
						<tr *ngFor="let item of day">
    						<td>{{item.hour}}</td>
    						<td class="temp-container">{{item.intTemp}} &deg;C</td>
    						<td><img class="weather-img" mat-card-sm-image alt="weather image" src={{item.weatherImg}}></td>
  						</tr>
							<!--<p><strong>Hora:</strong> </p>
							<p><strong>Temp:</strong> {{item.intTemp}} &deg;C</p>
					  		<img mat-card-sm-image alt="weather image" src={{item.weatherImg}}>-->
					</table>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<ng-template #notFound>
		<div class="city-searcher-no-exist">
			<mat-form-field>
				<input #city matInput placeholder="Ciudad" autocomplete="off">
			</mat-form-field>
			<button mat-raised-button (click)="search(city.value)"><mat-icon matSuffix>search</mat-icon></button>
		</div>
		<div id="not-found" #notFound>
			<img src="../assets/images/city-not-found-no-title.png" alt="Ciudad no disponible">
		</div>
		<div class="not-found-city-wrapper">
			<div class="content-wrapper">
				<div>OOOOOPS ciudad no encontrada:</div>
				<div>{{cityToSearch}}</div>
			</div>
		</div>
	</ng-template>
</div>

<spinner *ngIf="showSpinner"></spinner>