/************************* MENSAJE DE NO ENCONTRADO O TIEMPO DE LA CIUDAD **********************/
#princpial-container{
	width: 100%;
	height: 100%;
}

#city-name {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 75px;
}

#city-searcher {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 0;
}

#weather-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	height: 100%;
}

#not-found {
	
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
	width: 100%;
	height: 100%;
}

/************************* NOMBRE CIUDAD **************************************/
.city-title{
	color: #13BE0B;
	font-family: 'Lobster';
}

/************************* BUSCADOR (INPUT Y BOTON) **********************/
.searchCity {
	margin-left: 30px;
}


.mat-raised-button{
	background-color: #13BE0B;
	color: white;
	margin-left: 10px;
}


/********************************* Parte del cuadro con el tiempo de cada día  *****************************/

mat-card-title{
	text-align: center;
}

.img-container{
	display: flex;
	justify-content: center;
}

/********************* IMAGEN CIUDAD NO ENCONTRADA *****************************/
div#not-found img {
	height: 100%;
	width: 100%;
}

div#not-found p{
	position: absolute;
	display: flex;
	justify-content: center;
}