<div class="game-container">
  <mat-card>
    <mat-card-title>Nueva partida</mat-card-title>
    <mat-card-content>

      <form [formGroup]="gameForm" novalidate class="create-game-form">
        <!--Campo Nombre partida-->
        <mat-form-field>
          <input placeholder="Nombre de la partida" matInput autocomplete="off" formControlName="gameName" [errorStateMatcher]="matcher">
          <mat-error>{{requiredField}}</mat-error>
        </mat-form-field>
        <!--Campo Deporte-->
        <mat-form-field>
          <mat-select placeholder="Deporte" formControlName="sport" [errorStateMatcher]="matcher">
            <mat-option *ngFor= "let sport of sports" [value]="sport">
              {{sport}}
            </mat-option>
          </mat-select>
          <mat-error>{{requiredField}}</mat-error>
        </mat-form-field>
        <!--Campo Numero jugadores-->
        <mat-form-field class="maxPlayers">
          <input placeholder="Jugadores Máximos" type="number" matInput formControlName="maxPlayers" 
          [(ngModel)] = "value"  readonly=”readonly” [errorStateMatcher]="matcher">
          <mat-error>{{requiredField}}</mat-error>
        </mat-form-field>
        <mat-slider 
            [disabled]="disabled"
            [max]="max"
            [min]="min"
            [step]="step"
            thumbLabel
            [(ngModel)] ="value"
            [ngModelOptions]="{standalone: true}">
        </mat-slider>
        <mat-form-field>
          <input matInput formControlName="datePick" [matDatepicker]="picker" readonly=”readonly”  placeholder="Elegir fecha (mm/dd/aaaa)" [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi="true"></mat-datepicker>
          <mat-error *ngIf="gameForm.controls['datePick'].errors && gameForm.controls['datePick'].errors.invalidDate">{{dateError}}</mat-error>
          <mat-error *ngIf="gameForm.controls['datePick'].errors && gameForm.controls['datePick'].errors.required">{{requiredField}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hora del partido (24h)</mat-label>
          <input matInput type="time" formControlName="hour" step="600" [errorStateMatcher]="matcher">
          <mat-error>{{requiredField}}</mat-error>
        </mat-form-field>
        <div class="address">
          <mat-form-field class="street-name">
            <input matInput formControlName="street" placeholder="Calle" autocomplete="off" [errorStateMatcher]="matcher">
            <mat-error>{{requiredField}}</mat-error>
          </mat-form-field>
          <mat-form-field class="street-number">
            <input matInput formControlName="streetNumber" placeholder="Nº" autocomplete="off" [errorStateMatcher]="matcher">
            <mat-error>{{requiredField}}</mat-error>
          </mat-form-field>
          <mat-form-field class="post-code-number">
            <input matInput formControlName="postCode" placeholder="CP" autocomplete="off" [errorStateMatcher]="matcher">
            <mat-error>{{requiredField}}</mat-error>
          </mat-form-field>
          <mat-form-field class="city-name">
            <input matInput formControlName="city" placeholder="Ciudad" autocomplete="off" [errorStateMatcher]="matcher">
            <mat-error>{{requiredField}}</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button class="geoLocationButton" *ngIf="geoLocation"  (click)="getCurrentCoords()">Coger Posicion</button>
        <button mat-raised-button class="create-game" [disabled]="!gameForm.valid" (click)="createGame()">Crear</button>
      </form>
    </mat-card-content>
  </mat-card>
  
</div>