
/******************* CONTENEDOR DEL COMPONENTE *************************/
.game-container {
}

/************************ FORMULARIO ****************************************/

mat-card-title {
	font-family: "Tahoma", "Geneva", sans-serif;
}

mat-card {
	box-shadow: 0 12px 45px -2px rgba(0,0,0,.2), 0 2px 15px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

form{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between; 
}


/******************************************* SLIDER **************************************/

.slider-input{
	display: flex;
	flex-direction: row;
}

mat-form-field.maxPlayers {
	width: 100px;
	margin-right: 10px;
}

.num-players-slider {
	width: 150px;
}


/******************************* INPUTS DIRECCION ****************************/

.address{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.address mat-form-field{
	margin-right: 8px;
}

.address mat-form-field.street-name {
	width: 130px;
}

.address mat-form-field.street-number {
	width: 48px;
}

.address mat-form-field.post-code-number {
	width: 60px;
}

.address mat-form-field.city-name {
	width: 100px;
}


/****************** BOTONES ******************************************/

.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 36px;
}

button {
	color: white;
	background-color: #13BE0B;
	height: 100%;
	margin-top: 5px;
}


/************************ RESPONSIVE MOVIL ***********************************/
@media (min-width: 320px) and (max-width: 480px) {
	.game-container {
		width: 100%;
		margin-top: 200px;
		margin-bottom: 10px;
	}
}

/************************** PORTATIL **************************************/

@media (min-width: 1025px) and (max-width: 1400px) {
	.game-container {
		margin-bottom: 20px;
	}
}
