
/******************* CONTENEDOR DEL COMPONENTE *************************/
.game-container {
	margin-top: 100px;
}

/************************ FORMULARIO ****************************************/

mat-card-title {
	font-family: "Tahoma", "Geneva", sans-serif;
}


form{
  	display: flex;
  	flex-direction: column;
  	width: 370px;
}


/******************************************* SLIDER **************************************/

.slider-input{
	display: flex;
	flex-direction: row;
}

mat-form-field.maxPlayers {
	width: 100px;
	margin-right: 10px;
}

.num-players-slider {
	width: 150px;
}


/******************************* INPUTS DIRECCION ****************************/

.address{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.address mat-form-field{
	margin-right: 8px;
}

.address mat-form-field.street-name {
	width: 130px;
}

.address mat-form-field.street-number {
	width: 48px;
}

.address mat-form-field.post-code-number {
	width: 60px;
}

.address mat-form-field.city-name {
	width: 100px;
}


/****************** BOTONES ******************************************/

.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 36px;
}

button {
	color: white;
	background-color: #13BE0B;
	height: 100%;
	margin-top: 5px;
}