<div class="navigation-container">
	<a mat-button routerLink="/home"><mat-icon svgIcon="home"></mat-icon>Home</a>
	<a mat-button routerLink="/weather"><mat-icon svgIcon="temperature"></mat-icon>Tiempo</a>
	<a mat-button routerLink="/friends"><mat-icon svgIcon="add-user"></mat-icon>Lista amigos</a>
	<!--<a mat-button routerLink="/leagues"><mat-icon svgIcon="trophy"></mat-icon>Ligas</a>-->
	<a mat-button routerLink="/profile"><mat-icon svgIcon="avatar"></mat-icon>Perfil</a>
	<a id="logout" mat-button (click)="logout()"><mat-icon svgIcon="logout"></mat-icon>Cerrar sesión</a>
</div>