<div *ngIf="showPopUp" class="principal-container">
	<form [formGroup]="passwordForm" novalidate>
		<div id="passwdInputs">
			Contraseña anterior:<br>
	  		<input type="password" autocomplete="off" formControlName="oldpasswd"><br>
	  		Nueva contraseña:<br>
	  		<input type="password" autocomplete="off" formControlName="newpasswd"><br>
	  		Confirmar nueva contraseña:<br>
	  		<input type="password" autocomplete="off" formControlName="confirmpasswd">
  		</div>
  		<div id="message" class="alert alert-danger" *ngIf="passwordForm.controls.confirmpasswd.errors?.noMatch || passwordForm.controls.oldpasswd.errors?.wrongPasswd">
  			{{errorList[errorPosition]}}
  		</div>	
  		<div id="options-buttons">
			<button id="confirm" [disabled]="!passwordForm.valid" (click)="confirm()">Confirmar</button>
			<button id="cancel" (click)="cancel()">Cancelar</button>
		</div>
	</form>
<div>