<div *ngIf="showPopUp" class="principal-container">
	<form class="passwords-container">
		Contraseña anterior:<br>
  		<input type="text" name="old password"><br>
  		Nueva contraseña:<br>
  		<input type="text" name="new password"><br>
  		Confirmar nueva contraseña:<br>
  		<input type="text" name="confirm new password">	
  		<div class="options-buttons">
			<button id="confirm" (click)="confirm()">Confirmar</button>
			<button id="cancel" (click)="cancel()">Cancelar</button>
		</div>
	</form>

<div>